src/venv_thesis
__pycache__/
docs/data/nutrient/large_lattice_rho=1_delta=0.json
docs/data/nutrient/lattice_oscillation_L=200_rho=1_delta=0.json
docs/data/nutrient/lattice_oscillation_L=400_rho=1_delta=0.json
docs/data/nutrient/lattice3D_L=75_rho=1_delta=0/
docs/data/multispec_nutrient/4spec/nosoil_theta_0.05.tsv
docs/data/multispec_nutrient/5spec/nosoil_theta_0.04.tsv
docs/data/twospec_samenutrient/lattice_anim_L_1024_sigma_1_theta_0.042_rhofactor_4.bin
docs/presentations/images/feb29/hq_anim/
.vscode/
src/coupled_map_lattice/outputs/
src/coupled_map_lattice/snowflake/outputs/
src/cuda_test/outputs/
src/directedPercolation/outputs/
src/sitePercolation/outputs/
src/simpleNbrGrowth/outputs/
src/nutrient_model/outputs/
src/nutrient_mutations/outputs/
src/two_species_same_nutrient/outputs/
src/IUPAB_abstract/outputs/
src/multi_species_nutrient/outputs/
src/multi_species_nutrient/plots/lattice2D/3spec/sigma_0.5_theta_0.0237.gif
src/multi_species_nutrient/plots/lattice2D/4spec/sigma_0.5_theta_0.015.gif
src/multi_species_nutrient/plots/lattice2D/5spec/sigma_0.5_theta_0.012.gif
src/multi_species_nutrient/plots/lattice2D/4spec/noSoil_theta_0.05.gif
src/multi_species_nutrient/plots/lattice2D/5spec/noSoil_theta_0.05.gif
src/multi_species_nutrient/plots/lattice2D/5spec/noSoilNoNutrient.gif
*.exe
*.stl
