src/venv_thesis
__pycache__/
docs/data/nutrient/large_lattice_rho=1_delta=0.json
docs/data/nutrient/lattice_oscillation_L=200_rho=1_delta=0.json
docs/data/nutrient/lattice_oscillation_L=400_rho=1_delta=0.json
docs/data/nutrient/lattice3D_L=75_rho=1_delta=0/
.vscode/
src/nutrient_mutations/outputs/
src/two_species_same_nutrient/outputs/
src/IUPAB_abstract/outputs/
src/multi_species_nutrient/outputs/
src/multi_species_nutrient/plots/lattice2D/4spec_sigma_0.5_theta_0.015.gif
src/multi_species_nutrient/plots/lattice2D/5spec_sigma_0.5_theta_0.012.gif
*.exe