body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS';
}

.viz-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

#raster {
    flex-direction: column;
}

#lattice {
    flex-direction: column;
}

.popup {
    opacity: 0;
    position: absolute;
    left: innerWidth/2 - 50px;
    top: innerHeight/2 - 50px;
    width: 200px;
    height: 100px;
    background-color: white;
    border: 1px solid black;
    border-radius: 50px;
    text-align: center;
    font-size: 50px;
    font-family: sans-serif;
    line-height: 100px;
    z-index: 1;
}

.tooltip {
    position: absolute;
    text-align: center;
    width: 90px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
  }

#radio-buttons {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#input-section {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}
